@{
    Layout = "_Layout";
}

<h2>You added this client:  </h2>
<ul>
    <li>Name:  @Model.GetName()</li>
    <li>Address:  @Model.GetAddress()</li>
    <li>Phone Number:  @Model.GetPhoneNumber()</li>
    <li>Client ID:  @Model.GetId()</li>
</ul>
