@{
    Layout = "_Layout";
}

<form action="/clients/add/" method="post">
    <label for="new-client-name">Name:  </label>
    <input id="new-client-name" name="new-client-name" type="text">

    <label for="new-client-address">Address:  </label>
    <input id="new-client-address" name="new-client-address" type="text">

    <label for="new-client-phonenumber">Phone Number:  </label>
    <input id="new-client-phonenumber" name="new-client-phonenumber" type="text">

    <button type="submit">Add Client</button>
</form>
