@{
    Layout = "_Layout";
}

<form action="/stylists" method="post">
    <label for="new_stylist_name">Stylist:  </label>
    <input id="new_stylist_name" name="new_stylist_name" type="text">

    <button type="submit">Add Stylist</button>
</form>
